ul {
  padding: 15px 0;
  list-style: none;
}

.list {
  overflow-y: scroll;
  height: 80%;
  margin: 10px;
}

button {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: #333;
  color: rgb(245, 225, 111);
  border: 3px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333 rgb(245, 225, 111);
}

/* scrollbar on Chrome, Edge, and Safari*/
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(245, 225, 111);
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
}
